<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="navigator_description">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.000331330958101552 -0.00249209693466514 0.00199999999940636"
        rpy="0 0 0" />
      <mass
        value="0.203521066330135" />
      <inertia
        ixx="0.000561405181425744"
        ixy="-2.2092388240442E-06"
        ixz="-1.06248896479237E-13"
        iyy="0.00097402292455394"
        iyz="7.4958553322769E-16"
        izz="0.00153488538352369" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.3" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="castor_studs">
    <inertial>
      <origin
        xyz="1.40593192670831E-34 0.0187500000000007 -1.38777878078145E-16"
        rpy="0 0 0" />
      <mass
        value="0.00600155604822617" />
      <inertia
        ixx="7.0830864610836E-07"
        ixy="-1.44213964953564E-23"
        ixz="-4.60807486799589E-24"
        iyy="1.00025934137104E-08"
        iyz="4.90435002457097E-21"
        izz="7.0830864610836E-07" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/castor_studs.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/castor_studs.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="castor_studs_joint"
    type="fixed">
    <origin
      xyz="0.1 0 0"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="castor_studs" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="castor_base">
    <inertial>
      <origin
        xyz="-1.34256836275951E-16 -0.002 0.0113743448101382"
        rpy="0 0 0" />
      <mass
        value="0.0116976101152847" />
      <inertia
        ixx="2.08553613210159E-06"
        ixy="-1.73718901947969E-23"
        ixz="-1.21579372686468E-20"
        iyy="5.31282511365258E-06"
        iyz="-1.80956954314582E-23"
        izz="3.25848260852508E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/castor_base.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.3" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/castor_base.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="castor_base_joint"
    type="fixed">
    <origin
      xyz="0 0.0415 0.025"
      rpy="3.1416 0 3.1416" />
    <parent
      link="castor_studs" />
    <child
      link="castor_base" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="castor">
    <inertial>
      <origin
        xyz="0 0.00567732558139536 -3.25982448196712E-19"
        rpy="0 0 0" />
      <mass
        value="0.0292550998388507" />
      <inertia
        ixx="1.56333497253794E-06"
        ixy="5.31801103497374E-23"
        ixz="2.22127870157189E-23"
        iyy="7.84529930271505E-07"
        iyz="-7.94652475358875E-23"
        izz="1.56333497253794E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/castor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/castor.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="castor_joint"
    type="fixed">
    <origin
      xyz="0 0.0125 0.025"
      rpy="0 -1.5708 0" />
    <parent
      link="castor_base" />
    <child
      link="castor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_clamp">
    <inertial>
      <origin
        xyz="9.71445146547012E-17 0.00634190450325341 0.0108492512203278"
        rpy="0 0 0" />
      <mass
        value="0.011316172656226" />
      <inertia
        ixx="2.68003208965716E-06"
        ixy="1.92527214301558E-20"
        ixz="-5.8102491832335E-21"
        iyy="4.10049166716251E-06"
        iyz="-5.71883700326573E-07"
        izz="2.45690436047924E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_clamp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_clamp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_clamp_joint"
    type="fixed">
    <origin
      xyz="-0.08 0.071 -0.02"
      rpy="0 0 -3.1416" />
    <parent
      link="base_link" />
    <child
      link="l_clamp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_motor">
    <inertial>
      <origin
        xyz="-1.38777878078145E-17 0.0331302521008403 0.000142857142857142"
        rpy="0 0 0" />
      <mass
        value="0.524884734191169" />
      <inertia
        ixx="0.000236474771933518"
        ixy="-1.12843720279241E-21"
        ixz="-2.55779099299215E-22"
        iyy="8.43876657673291E-05"
        iyz="-2.76462397510655E-06"
        izz="0.000235848123832493" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_motor.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_motor_joint"
    type="fixed">
    <origin
      xyz="0 0.066 0"
      rpy="3.1416 0 0" />
    <parent
      link="l_clamp" />
    <child
      link="l_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_shaft">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0.011 0"
        rpy="0 0 0" />
      <mass
        value="0.00117927534234127" />
      <inertia
        ixx="4.94067231968395E-08"
        ixy="-6.26700795993465E-41"
        ixz="-4.64539949491763E-57"
        iyy="3.68523544481647E-09"
        iyz="4.2387890683424E-25"
        izz="4.94067231968395E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_shaft.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_shaft.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_shaft_joint"
    type="fixed">
    <origin
      xyz="0 0.075 0.0085"
      rpy="3.1416 0 3.1416" />
    <parent
      link="l_motor" />
    <child
      link="l_shaft" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_rim">
    <inertial>
      <origin
        xyz="0 0.0172162154619036 5.88345364891871E-06"
        rpy="0 0 0" />
      <mass
        value="0.0281408161945305" />
      <inertia
        ixx="6.48363892722368E-06"
        ixy="-6.07606410043214E-22"
        ixz="1.00691333219588E-20"
        iyy="1.00188552236876E-05"
        iyz="-1.61985412368607E-09"
        izz="6.48372715588809E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_rim.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_rim.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_rim_joint"
    type="fixed">
    <origin
      xyz="0 0.01681 0"
      rpy="0 0 0" />
    <parent
      link="l_shaft" />
    <child
      link="l_rim" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="l_wheel">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0.013 0"
        rpy="0 0 0" />
      <mass
        value="0.0439338814375541" />
      <inertia
        ixx="2.13006101836408E-05"
        ixy="-1.34543288190583E-37"
        ixz="-1.41254875130003E-37"
        iyy="3.76513363919839E-05"
        iyz="1.42437368277971E-21"
        izz="2.13006101836408E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/l_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="l_wheel_joint"
    type="fixed">
    <origin
      xyz="0 0.005 0"
      rpy="0 0 0" />
    <parent
      link="l_rim" />
    <child
      link="l_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_clamp">
    <inertial>
      <origin
        xyz="-1.38777878078145E-17 0.00634190450325342 0.0108492512203278"
        rpy="0 0 0" />
      <mass
        value="0.0113161726562261" />
      <inertia
        ixx="2.68003208965717E-06"
        ixy="5.2009325440862E-22"
        ixz="-2.15965352384597E-21"
        iyy="4.10049166716253E-06"
        iyz="-5.71883700326574E-07"
        izz="2.45690436047926E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_clamp.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_clamp.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_clamp_joint"
    type="fixed">
    <origin
      xyz="-0.08 -0.071 -0.02"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="r_clamp" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_motor">
    <inertial>
      <origin
        xyz="4.57966997657877E-16 0.0331302521008403 0.000142857142857142"
        rpy="0 0 0" />
      <mass
        value="0.524884734191168" />
      <inertia
        ixx="0.000236474771933517"
        ixy="-2.11268035841354E-18"
        ixz="-3.84490522370768E-20"
        iyy="8.43876657673291E-05"
        iyz="-2.76462397510654E-06"
        izz="0.000235848123832493" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_motor.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.529411764705882 0.549019607843137 0.549019607843137 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_motor.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_motor_joint"
    type="fixed">
    <origin
      xyz="0 0.066 0"
      rpy="3.1416 0 0" />
    <parent
      link="r_clamp" />
    <child
      link="r_motor" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_shaft">
    <inertial>
      <origin
        xyz="0 0.011 3.46944695195361E-18"
        rpy="0 0 0" />
      <mass
        value="0.00117927534234127" />
      <inertia
        ixx="4.94067231968394E-08"
        ixy="-6.26700795993465E-41"
        ixz="1.44139777273402E-56"
        iyy="3.68523544481647E-09"
        iyz="-4.23878906834168E-25"
        izz="4.94067231968394E-08" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_shaft.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_shaft.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_shaft_joint"
    type="fixed">
    <origin
      xyz="0 0.075 0.0085"
      rpy="0 0 0" />
    <parent
      link="r_motor" />
    <child
      link="r_shaft" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_rim">
    <inertial>
      <origin
        xyz="0 0.0172162154619083 5.8834536475344E-06"
        rpy="0 0 0" />
      <mass
        value="0.0281408161945305" />
      <inertia
        ixx="6.48363892722368E-06"
        ixy="3.74333125989268E-23"
        ixz="1.09951778639784E-20"
        iyy="1.00188552236876E-05"
        iyz="-1.6198541236863E-09"
        izz="6.48372715588808E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_rim.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_rim.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_rim_joint"
    type="fixed">
    <origin
      xyz="0 0.019251 0"
      rpy="0 0 0" />
    <parent
      link="r_shaft" />
    <child
      link="r_rim" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="r_wheel">
    <inertial>
      <origin
        xyz="1.38777878078145E-17 0.0130000000000043 -6.93889390390723E-18"
        rpy="0 0 0" />
      <mass
        value="0.0439338814375541" />
      <inertia
        ixx="2.13006101836408E-05"
        ixy="-1.34543288190583E-37"
        ixz="-1.41254875130006E-37"
        iyy="3.76513363919839E-05"
        iyz="-6.59826345912791E-22"
        izz="2.13006101836408E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_wheel.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/r_wheel.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="r_wheel_joint"
    type="fixed">
    <origin
      xyz="0 0.005 0"
      rpy="0 0 0" />
    <parent
      link="r_rim" />
    <child
      link="r_wheel" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="4cm_studs">
    <inertial>
      <origin
        xyz="-0.01 0.024 2.11703333380841E-18"
        rpy="0 0 0" />
      <mass
        value="0.0128033195695494" />
      <inertia
        ixx="1.71777870891455E-06"
        ixy="-5.1189022638089E-23"
        ixz="9.56577884555289E-25"
        iyy="2.13388659492488E-08"
        iyz="-2.66488584346703E-24"
        izz="1.71777870891455E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/4cm_studs.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/4cm_studs.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="4cm_studs_joint"
    type="fixed">
    <origin
      xyz="0.01 0 0"
      rpy="1.5708 0 0" />
    <parent
      link="base_link" />
    <child
      link="4cm_studs" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="upper_plate">
    <inertial>
      <origin
        xyz="0.00500000000000002 0.003 1.79274767887587E-17"
        rpy="0 0 0" />
      <mass
        value="0.0711144" />
      <inertia
        ixx="0.0001635157104"
        ixy="-1.58395161136553E-22"
        ixz="-4.14707330975705E-21"
        iyy="0.0004246477872"
        iyz="-2.30392961653169E-22"
        izz="0.0002615587632" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/upper_plate.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/upper_plate.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="upper_plate_joint"
    type="fixed">
    <origin
      xyz="-0.01 0.044 0"
      rpy="0 0 0" />
    <parent
      link="4cm_studs" />
    <child
      link="upper_plate" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="black_plate_small">
    <inertial>
      <origin
        xyz="0.180462962962963 0.0615 7.58299717932545E-17"
        rpy="0 0 0" />
      <mass
        value="0.031833" />
      <inertia
        ixx="9.53361997500001E-05"
        ixy="1.67214027822812E-23"
        ixz="-6.20286143170321E-19"
        iyy="0.000100642933333333"
        iyz="1.11468833558763E-20"
        izz="5.35448308333334E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/black_plate_small.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/black_plate_small.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="black_plate_small_joint"
    type="fixed">
    <origin
      xyz="0.1 -0.054 0"
      rpy="3.1416 0 3.1416" />
    <parent
      link="upper_plate" />
    <child
      link="black_plate_small" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="6cm_studs">
    <inertial>
      <origin
        xyz="0.0799999999999998 0.029 -5.66636286146329E-16"
        rpy="0 0 0" />
      <mass
        value="0.0192049793543236" />
      <inertia
        ixx="5.77749795575901E-06"
        ixy="-6.87640062811702E-22"
        ixz="2.43137811574486E-23"
        iyy="3.20082989238689E-08"
        iyz="-7.05209940245032E-22"
        izz="5.77749795575901E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/6cm_studs.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.647058823529412 0.619607843137255 0.588235294117647 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/6cm_studs.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="6cm_studs_joint"
    type="fixed">
    <origin
      xyz="0.1 0.064 0"
      rpy="0 0 0" />
    <parent
      link="black_plate_small" />
    <child
      link="6cm_studs" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="black_plate_big">
    <inertial>
      <origin
        xyz="0.000462962962962971 0.00449999999999999 4.98495244143264E-17"
        rpy="0 0 0" />
      <mass
        value="0.095499" />
      <inertia
        ixx="0.00028658159325"
        ixy="1.56718711928635E-22"
        ixz="-1.88117843623798E-18"
        iyy="0.0003019288"
        iyz="3.43255679068408E-20"
        izz="1.663644325E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/black_plate_big.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/black_plate_big.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="black_plate_big_joint"
    type="fixed">
    <origin
      xyz="0.08 0.059 0"
      rpy="0 0 0" />
    <parent
      link="6cm_studs" />
    <child
      link="black_plate_big" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="kinect">
    <inertial>
      <origin
        xyz="0.00122183168080986 0.0321387211137394 0.000160728341865213"
        rpy="0 0 0" />
      <mass
        value="0.645269768162058" />
      <inertia
        ixx="0.00284310577482197"
        ixy="-1.54624658802776E-07"
        ixz="2.56831959229167E-06"
        iyy="0.00296397070653795"
        iyz="-1.09854792416786E-08"
        izz="0.000263778627605205" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/kinect.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://navigator_description/meshes/kinect.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="kinect_base"
    type="fixed">
    <origin
      xyz="0 0.023 0"
      rpy="0 0 0" />
    <parent
      link="black_plate_big" />
    <child
      link="kinect" />
    <axis
      xyz="0 0 0" />
  </joint>
</robot>